@import '../../../styles//variables';

.single-img {
  margin-top: 1rem;
}

.details {
  font-style: italic;
  // margin-bottom: 0;
  background-color: $black;
}

.format-select {
  color: $color15;
  background-color: $black;
}
