$color1: #471814;
$color2: #8C050B;
$color3: #F4F0D5;
$color5: #622F1D;


$color6: #ABABAB;
$color7: #BF0426;
$color8: #956FA6;
$color9: #400101;
$color10: #C0AE98;

$color13: #31001A;
$color14: #0442BF;
$color15: #5377FA;

$darkRed: #6D0023;
$gold: #D9AA71;
$black: #000116;
