@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $darkRed;
  color: $gold;
}

h1 {
  text-decoration: underline;
}

.btn {
  box-shadow: 1px 1px black;
}
